<footer>
    <div class="row">
        <div class="col-12 h-25 d-flex w-100 justify-content-center">
            <small class="align-self-center text-muted">Made by Martin A. Carrera usando EJS</small>
        </div>
    </div>
</footer>